#main {
  margin-top: 100px;

  .main-task-list {
    margin-top: 60px;

    .list-group-item {
      margin-top: 10px;
      margin-bottom: 10px;

      .completed {
        text-decoration: line-through;
        color: grey;
      }
    }
  }
}